.testimonialsCont {
  margin-top: 60px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.testimonialsCont h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.testDivider {
  height: 8px;
  background-color: #f02d34;
  width: 20%;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.testimonialsCont p {
  margin-top: 8px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  /* background-color: rgb(85, 83, 83); */
  background-color: #f02d34;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.testWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  margin-top: 80px;
  width: 90%;
  margin: auto;
}

.testWrapper img {
  width: 360px;
  border-radius: 10px;
}

.testWrapper p {
  width: 360px;
}
